<!DOCTYPE html>
<html>
<head>
    <title>Pipeline Execution</title>
</head>
<body>
    <h1>Test Pipeline</h1>
    <form action="/data_pipeline" method="post">
        <button type="submit">Run Data Pipeline</button>
    </form>
    <form action="/training_pipeline" method="post">
        <button type="submit">Run Training Pipeline</button>
    </form>
    <form action="/prediction_pipeline" method="post">
        <button type="submit">Run Prediction Pipeline</button>
    </form>
</body>
</html>
